@import "./function.scss";
$white: #fff;
$base-font-color: #01b76d;
$base-color: #01b76d;
$bk-color: #f8f8f8;
$def-color: #999;



$banner-h: 94px;
$navigator-h: 96px;
$bottom-h: 124px;

.show-b {
  border-bottom: 1px solid #f9f9f9;
}
